{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/no-unresolved": "off",
    "no-nested-ternary": "off",
    "react/jsx-props-no-spreading": "off",
    "global-require": "off",
    "no-unused-vars": "off",
    "import/newline-after-import": "error",
    "react/destructuring-assignment": "off",
    "no-shadow": "off",
    "react/require-default-props": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
